@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &.center {
    justify-content: center;
  }

  .text {
    text-align: center;

    h3 {
      @include m.header($fz: 20px, $lh: 20px, $c: v.$main);
      text-transform: uppercase;
    }

    span {
      @include m.description($fz: 11px, $lh: 11px, $c: v.$main);
      display: inline-block;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 575px) {
  .logo {
    margin: 0 auto;
  }
}
