@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.wrapper {
  margin-top: 15px;

  .item_path {
    display: flex;
    align-items: center;

    .lists {
      display: flex;
      align-items: center;

      .list {
        @include m.description();

        margin-left: 5px;

        &.active {
          color: v.$text;
          cursor: auto;
          font-weight: 500;
        }

        &.link {
          margin-left: 0px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .wrapper {
    margin-top: 0px;
    max-width: 100%;

    .item_path {
      display: flex;
      align-items: center;
      height: 50px;
      border-bottom: 1px solid v.$border;

      .lists {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        height: 100%;

        .list {
          &.link {
            padding-left: 15px;
          }

          &.active {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
