@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.block {
  .label {
    @include m.description($c: v.$text);

    display: inline-block;
    margin-bottom: 10px;

    span {
      font-size: 15px;
      color: red;
    }
  }

  .input {
    @include m.description($fz: 16px, $c: v.$text);

    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid v.$border;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 100%;

    &::placeholder {
      color: v.$sale;
    }

    &:focus {
      border-color: rgba(v.$main, 1);
      outline: none;
    }
  }
}

@media (max-width: 575px) {
}
