@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.social {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  .line {
    display: block;
    background-color: v.$border;
    height: 1px;
    width: 100%;
  }

  .location {
    @include m.description($c: v.$text);
    min-width: max-content;
    margin: 0px 10px;
  }
}
