@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.cart {
  margin: 50px 0px 100px 0px;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 90px;

    .items_title,
    .check_title {
      @include m.subtitle($fz: 16px);
      display: flex;
      text-align: left;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(v.$main, 0.5);
      margin-bottom: 10px;
    }

    .lists {
      .list {
        margin-bottom: 20px;

        .layout {
          display: flex;
          align-items: center;
          transition: all 0.2s ease;

          padding: 10px 30px 10px 10px;

          .img {
            margin-right: 10px;
            cursor: pointer;
          }

          .title {
            @include m.subtitle-clamp($fz: 16px);
            transition: all 0.2s ease;
            margin-bottom: 10px;

            cursor: pointer;

            &:hover {
              color: v.$main;
            }
          }

          .sku {
            @include m.description();

            span {
              color: v.$text;
              margin-right: 5px;
            }
          }

          &:last-child {
            margin-bottom: 0px;
          }

          &:hover {
            background-color: v.$background;
          }
        }

        .price {
          @include m.price($fw: 400);
          width: 100px;
        }

        .total {
          @include m.price($c: v.$main, $fw: 500);
          width: 130px;
          margin-left: 130px;
        }

        svg {
          cursor: pointer;

          &:hover {
            fill: v.$text;
          }
        }

        .quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100px;

          button {
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border: 1px rgba(v.$main, 0.5) solid;
            transition: all 0.2s ease;

            &:hover {
              border: 1px rgba(v.$main, 1) solid;
            }
          }

          span {
            @include m.description($c: v.$text);
            text-align: center;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .check {
      min-width: 330px;
      text-align: center;

      .subtitle {
        @include m.description($c: v.$text);
        text-align: left;
        display: block;
        margin-bottom: 10px;
      }

      .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        p {
          @include m.description($c: v.$text);
        }

        mark {
          color: v.$text;
          font-size: 18px;
          line-height: 24px;
          font-weight: 600;
          background-color: transparent;
        }

        span {
          @include m.description($c: v.$text, $fw: 500);

          a {
            @include m.description($c: v.$main);
            margin-top: 10px;

            &:hover {
              text-decoration: underline;
              color: #2d763c;
            }
          }
        }

        b {
          @include m.title($c: v.$main, $fz: 18px, $lh: 24px);
        }
      }

      .continue {
        @include m.description($c: v.$main);
        display: inline-block;
        text-emphasis: center;

        &:hover {
          text-decoration: underline;
          color: #2d763c;
        }
      }
    }
  }

  .slider {
    .title {
      @include m.title($lh: 32px, $fz: 20px, $c: v.$main);
      margin-bottom: 10px;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(v.$main, 0.5);
    }
  }
}

@media (max-width: 575px) {
  .cart {
    margin: 25px 0px 50px 0px;

    .inner {
      display: none;
    }
  }
}
