@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.cart {
  margin: 50px 0px 100px 0px;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 90px;

    .items_title,
    .check_title {
      @include title($m: 0px 0px 10px, $fw: 700, $lh: 16px, $fz: 16px);
      display: flex;
      text-align: left;
      padding-bottom: 15px;
      border-bottom: 1px solid rgba($main, 0.5);
    }

    .lists {
      .list {
        margin-bottom: 20px;

        .layout {
          display: flex;
          align-items: center;
          transition: all 0.2s ease;

          padding: 10px 30px 10px 10px;

          .img {
            margin-right: 10px;
            cursor: pointer;
          }

          .title {
            @include title-clamp($mb: 10px, $fw: 500, $lh: 16px, $fz: 16px);
            transition: all 0.2s ease;

            cursor: pointer;

            &:hover {
              color: $main;
            }
          }

          .sku {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: $descr;

            span {
              color: #a5a5a5;
              margin-right: 5px;
            }
          }

          &:last-child {
            margin-bottom: 0px;
          }

          &:hover {
            background-color: $background;
          }
        }

        .price,
        .total {
          @include price($ta: left);
        }

        .price {
          @include price($ta: left, $w: 100px);
        }

        .total {
          @include price($c: $main, $fw: 700, $ta: left, $w: 130px);
          margin-left: 130px;
        }

        svg {
          cursor: pointer;

          &:hover {
            fill: $text;
          }
        }

        .quantity {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100px;

          button {
            font-size: 16px;
            line-height: 16px;
            font-weight: 500;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 25px;
            width: 25px;
            background-color: #fff;
            border: 1px rgba($main, 0.5) solid;
            transition: all 0.2s ease;

            &:hover {
              border: 1px rgba($main, 1) solid;
            }
          }

          span {
            font-size: 17px;
            line-height: 10px;
            font-weight: 400;
            color: $text;
            text-align: center;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .check {
      min-width: 330px;
      text-align: center;

      .subtitle {
        text-align: left;
        display: block;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: $text;
        margin-bottom: 10px;
      }

      .result {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;

        p {
          font-size: 15px;
          line-height: 16px;
          color: $text;
          font-weight: 400;
        }

        mark {
          color: $text;
          font-size: 16px;
          line-height: 16px;
          font-weight: 700;
          background-color: transparent;
        }

        span {
          color: $text;
          font-size: 18px;
          line-height: 16px;
          font-weight: 500;

          a {
            font-size: 14px;
            line-height: 16px;
            color: #46a358;
            margin-top: 10px;

            &:hover {
              text-decoration: underline;
              color: #2d763c;
            }
          }
        }

        b {
          color: $main;
          font-size: 18px;
          line-height: 16px;
          font-weight: 700;
        }
      }

      .continue {
        display: inline-block;
        color: $main;
        font-size: 15px;
        line-height: 16px;
        font-weight: 400;
        text-emphasis: center;

        &:hover {
          text-decoration: underline;
          color: #2d763c;
        }
      }
    }
  }

  .slider {
    .title {
      @include title(
        $m: 0px 0px 10px,
        $fw: 700,
        $lh: 16px,
        $fz: 17px,
        $c: $main
      );
      padding-bottom: 15px;
      border-bottom: 1px solid rgba($main, 0.5);
    }
  }
}

@media (max-width: 575px) {
  .cart {
    margin: 25px 0px 50px 0px;

    .inner {
      display: none;
    }
  }
}
