@import "../../../styles/variables.scss";

.isVisible {
  width: 1200px;
  position: fixed;
  right: 50%;
  top: -25%;
  transform: translate(50%, 0%);
  z-index: 3;
  margin-top: 18px;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  height: 70px;

  .wrapper {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #fff;
    height: 100%;

    .search {
      padding: 15px 30px;
      color: $text;
      background-color: #fff;
      font-size: 16px;
      line-height: 18px;
      width: 100%;
      font-weight: 400;
      height: 100%;

      &::placeholder {
        color: $sailPrice;
      }
    }
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    top: 0;
  }
}

.svg_close,
.svg_search {
  cursor: pointer;
  svg {
    transition: 0.5s ease;
    &:hover {
      fill: #000;
    }
  }
}

.svg_search {
  margin-left: 25px;
}

.svg_close {
  margin-right: 25px;
}
