@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.registration {
  margin-bottom: 45px;

  .registration_wrapper {
    background-color: v.$background;
    text-align: center;
    overflow-y: auto;
  }

  .box {
    display: flex;
    align-items: flex-start;

    .line {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 500px;
      margin: auto;

      span {
        display: block;
        background-color: rgba(v.$main, 0.5);
        height: 100%;
        width: 1px;
      }

      p {
        @include m.description($c: v.$text);
        margin: 10px 0px;
      }
    }
  }
}

@media (max-width: 575px) {
  .registration {
    margin-bottom: 45px;

    .registration_wrapper {
      .box {
        flex-direction: column;
        height: auto;
        gap: 30px;

        .line {
          flex-direction: unset;
          width: 100%;
          height: auto;

          span {
            height: 1px;
            width: 100%;
          }

          p {
            margin: 0px 10px;
          }
        }
      }
    }
  }
}
