@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.catalog {
  .content {
    display: flex;
    gap: 40px;

    .wrapper {
      background-color: v.$background;
      padding: 20px 25px 20px 20px;
      width: 35%;
    }
  }
}

.items {
  .lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;

    &.viewed {
      grid-template-columns: repeat(5, 1fr);
    }

    &.interested {
      display: unset;
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 100%;
      border-top: 1px solid rgba(v.$background, 1);
      transition: all 0.2s ease;

      .block {
        position: relative;
        padding: 15px 15px 45px 15px;
        background-color: v.$background;
        cursor: pointer;

        .img {
          display: block;
        }

        &:hover {
          background-color: #f8f8f8;

          .control {
            opacity: 1;
            visibility: visible;
          }
        }

        .control {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          opacity: 0;
          margin-bottom: 5%;

          .favorite {
            display: inline-block;
            margin-right: 30px;
            & > [data-type="heart"] {
              cursor: pointer;

              &:hover {
                fill: red;
              }
            }
          }

          .cart {
            background-color: transparent;
            & > [data-type="cart"] {
              cursor: pointer;
              &:hover {
                fill: v.$main;
              }
            }
          }
        }

        .control_mobile {
          display: none;
        }
      }

      .title {
        @include m.description($fz: 16px, $c: v.$text);
        display: inline-block;
        transition: all 0.2s ease;
        margin-top: 15px;

        &:hover {
          color: v.$main;
        }
      }

      .percent {
        @include m.percent();
      }

      &:hover {
        border-top: 1px solid rgba(v.$main, 1);
      }
    }
  }
}

@media (max-width: 575px) {
  .catalog {
    .content {
      .wrapper {
        display: none;
      }

      .filter {
        display: block;

        .lists {
          justify-content: center;
          gap: 30px;

          .list {
            margin-right: 0;
          }
        }
      }
    }
  }

  .items {
    .lists {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;

      &.viewed {
        grid-template-columns: repeat(2, 1fr);
      }

      .loader {
        width: 100%;
        height: auto;
      }

      .list {
        gap: 5px;

        .block {
          background-color: v.$background;
          border-radius: 6px;
          padding: 15px;

          .control,
          .control_mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            transform: none;
            opacity: 1;
            visibility: visible;
            bottom: auto;
            background-color: #fff;
            border-radius: 100%;
            border: 1px solid #fff;

            .favorite {
              margin-right: 0px;
              & > [data-type="heart"] {
                fill: v.$main;
              }
            }

            .cart {
              display: none;
            }
          }

          .control {
            left: auto;
            top: 0;
            right: 0;
            margin: 10px 10px 0px 0px;
          }

          .control_mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0px 0px 10px 10px;
          }
        }

        .title {
          margin-top: 10px;
        }

        .percent {
          margin: 10px 0px 0px 10px;
          padding: 8px;
          font-size: 12px;
          left: 0;
          border-radius: 6px;
        }
      }
    }
  }
}
