@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.catalog {
  .content {
    display: flex;
    gap: 40px;

    .wrapper {
      background-color: v.$background;
      padding: 20px 25px 20px 20px;
      width: 35%;
    }

    .filter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      .lists {
        display: flex;
        justify-content: center;

        .list {
          margin-right: 40px;

          .text {
            @include m.subtitle($fz: 14px);
            padding: 0px 0px 10px 0px;
            cursor: pointer;

            &:hover {
              color: v.$main;
            }

            &.active {
              color: v.$main;
              border-bottom: 3px v.$main solid;
            }
          }

          &:last-child {
            margin-right: 0px;
          }
        }
      }
    }
  }
}

.category {
  margin-bottom: 35px;

  .title {
    @include m.subtitle($fz: 16px);
    margin-bottom: 16px;
  }

  .lists {
    .list {
      @include m.subtitle($fz: 14px);
      display: flex;
      justify-content: space-between;
      color: v.$text;
      cursor: pointer;
      padding: 0px 12px;
      transition: all 0.2s ease;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        color: v.$main;
      }

      &.active {
        color: v.$main;
      }
    }
  }

  .range {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 12px;
    gap: 20px;

    .column {
      display: flex;
      align-items: center;
    }

    label {
      margin-right: 10px;
    }

    input {
      @include m.description($fz: 16px, $c: v.$text);
      width: 70px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      padding: 10px;
    }
  }

  &.size {
    margin-bottom: 50px;
  }
}

.items {
  .lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;

    &.related {
      grid-template-columns: repeat(5, 1fr);
    }

    &.interested {
      display: unset;
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      width: 100%;

      .block {
        position: relative;
        padding-bottom: 50px;
        background-color: v.$background;
        cursor: pointer;

        .img {
          display: block;
        }

        &:hover {
          transition: all 0.2s ease;

          background-color: #f8f8f8;

          .line {
            opacity: 1;
            visibility: visible;
          }

          .control {
            opacity: 1;
            visibility: visible;
          }
        }

        .control {
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, -50%);
          visibility: hidden;
          opacity: 0;
          margin-bottom: 5%;

          .favorite {
            display: inline-block;
            margin-right: 30px;
            & > [data-type="heart"] {
              cursor: pointer;

              &:hover {
                fill: red;
              }
            }
          }

          .cart {
            background-color: transparent;
            & > [data-type="cart"] {
              cursor: pointer;
              &:hover {
                fill: v.$main;
              }
            }
          }
        }

        .control_mobile {
          display: none;
        }
      }

      .title {
        @include m.description($fz: 16px, $c: v.$text);
        display: inline-block;
        transition: all 0.2s ease;
        margin-top: 15px;

        &:hover {
          color: v.$main;
        }
      }

      .percent {
        @include m.percent();
      }

      .info {
        display: flex;
        align-items: center;

        .sale {
          @include m.sale();
          margin-left: 20px;
        }

        .price {
          @include m.price($fw: 500, $lh: 24px, $fz: 14px, $c: v.$main);
        }
      }

      .line {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 1px solid v.$main;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
      }
    }
  }
}

@media (max-width: 575px) {
  .catalog {
    .content {
      .wrapper {
        display: none;
      }

      .filter {
        display: block;

        .lists {
          justify-content: center;
          gap: 30px;

          .list {
            margin-right: 0;
          }
        }
      }
    }
  }

  .items {
    .lists {
      grid-template-columns: repeat(2, 1fr);
      gap: 5px;

      &.related {
        grid-template-columns: repeat(2, 1fr);
      }

      .loader {
        width: 100%;
        height: auto;
      }

      .list {
        gap: 5px;

        .block {
          background-color: v.$background;
          border-radius: 6px;
          padding-bottom: 0;

          .control,
          .control_mobile {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 36px;
            width: 36px;
            transform: none;
            opacity: 1;
            visibility: visible;
            bottom: auto;
            background-color: #fff;
            border-radius: 100%;
            border: 1px solid #fff;

            .favorite {
              margin-right: 0px;
              & > [data-type="heart"] {
                fill: v.$main;
              }
            }

            .cart {
              display: none;
            }
          }

          .control {
            left: auto;
            top: 0;
            right: 0;
            margin: 10px 10px 0px 0px;
          }

          .control_mobile {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0px 0px 10px 10px;
          }
        }

        .title {
          margin-top: 10px;
        }

        .percent {
          margin: 10px 0px 0px 10px;
          padding: 8px;
          font-size: 12px;
          left: 0;
          border-radius: 6px;
        }

        .line {
          display: none;
        }
      }
    }
  }

  .category {
    margin-bottom: 10px;

    &.size {
      margin-bottom: 20px;
    }

    .range {
      input {
        text-align: center;
        width: 100%;
      }
    }
  }
}
