@import "../../../components/styles/variables.scss";

.items {
  .lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;

    .list {
      position: relative;

      .img_link {
        display: block;
        padding-bottom: 50px;

        &:hover {
          background-color: $background;
          transition: 0.5s ease;

          .line {
            opacity: 1;
            visibility: visible;
          }

          .control {
            opacity: 1;
            visibility: visible;
          }
        }
      }

      .title_link {
        display: block;
        margin: 30px 0px 15px;

        .title {
          font-size: 16px;
          line-height: 16px;
          color: $text;
          font-weight: 500;
          transition: 0.5s ease;

          &:hover {
            color: $main;
          }
        }
      }

      .control {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;

        & > [data-type="heart"] {
          cursor: pointer;
          margin-right: 30px;

          &:hover {
            fill: red;
          }
        }

        & > [data-type="cart"] {
          &:hover {
            fill: $main;
          }
        }
      }

      .percent {
        position: absolute;
        top: 2%;
        left: 3%;
        padding: 10px;
        background-color: $main;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }

      .sailPrice {
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
        color: $sailPrice;
        margin-left: 20px;
        text-decoration: $sailPriceLine line-through;
      }

      .price {
        color: $main;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
      }

      .line {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 1px solid $main;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
      }
    }
  }
}
