@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.header {
  margin: 25px 0px 10px;

  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1px solid v.$line;
    padding-bottom: 15px;

    .lists {
      display: flex;
      justify-content: center;
      align-items: center;

      .list {
        margin-right: auto;

        .link {
          @include m.title($fz: 16px, $lh: 24px);
          padding-bottom: 25px;

          &:hover {
            color: v.$main;
          }

          &.active {
            color: v.$main;
            border-bottom: 3px v.$main solid;
          }
        }

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .login {
        @include m.description($c: #fff);
        padding: 10px 20px;
        background-color: v.$main;
        border-radius: 5px;
        display: flex;
        align-items: center;
        transition: all 0.2s ease;

        svg {
          margin-right: 5px;
        }

        &:hover {
          background-color: #2d763c;
        }
      }

      .search,
      .cart {
        margin-right: 30px;
      }

      .cart {
        @include m.cart-quantity();

        &.active {
          svg {
            fill: v.$main;
          }
        }
      }

      svg {
        cursor: pointer;
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;

  &.center {
    justify-content: center;
  }

  .text {
    text-align: center;

    h3 {
      @include m.header($fz: 20px, $lh: 20px, $c: v.$main);
      text-transform: uppercase;
    }

    span {
      @include m.description($fz: 11px, $lh: 11px, $c: v.$main);
      display: inline-block;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 575px) {
  .header {
    margin: 0;

    .content {
      display: none;
    }
  }

  .logo {
    margin: 0 auto;
  }
}
