@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.header {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-top: 1px solid v.$transparent-line;
    border-bottom: 1px solid v.$transparent-line;
    padding: 15px 0px 15px 0px;

    .lists {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list {
        .link {
          @include m.title($fz: 16px, $lh: 24px);

          &:hover {
            color: v.$main;
          }

          &.active {
            padding-bottom: 20px;
            color: v.$main;
            border-bottom: 3px v.$main solid;
          }
        }
      }
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 15px;

      .link {
        @include m.cart-quantity();

        &.active {
          pointer-events: none;
          svg {
            stroke: v.$main;
          }
        }

        &.login {
          pointer-events: none;
          svg {
            stroke: v.$main;
            fill: v.$main;
          }
        }

        &.loading {
          pointer-events: none;
          svg {
            stroke: v.$sale-line;
          }
        }

        &.authenticated {
          svg {
            stroke: v.$main;
            fill: v.$main;
          }
        }
      }

      .search,
      .cartWrapper {
        z-index: 2;

        &:hover {
          svg {
            cursor: pointer;
          }
        }
      }

      .cartWrapper {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          .dropdownCart {
            opacity: 1;
            visibility: visible;
          }
        }

        .cart {
          @include m.cart-quantity();

          &.active {
            svg {
              stroke: v.$main;
            }
          }
        }

        .dropdownCart {
          transition: all 0.2s ease;
          opacity: 0;
          visibility: hidden;
          position: absolute;
          top: 100%;
          right: 0;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          background-color: #fff;
          width: 350px;
          border-radius: 6px;
          padding: 25px 20px;
          border: 1px solid v.$border;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .header {
    margin: 0;

    .content {
      display: none;
    }
  }
}
