@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #fff;
  border-top: 1px solid v.$border;

  &.item {
    height: 100vh;
  }

  .round {
    width: 100px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: v.$main;
    --_m: conic-gradient(#0000 50%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

@media (max-width: 575px) {
  .loader {
    padding: unset;
    padding-bottom: 170px;
    height: 100vh;

    &.cart {
      margin: 0;
      height: 165px;
      padding: 0px;
    }
  }
}
