@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.results {
  background-color: #fff;
  padding: 50px 25px;
  margin-top: 1px;

  .content {
    display: flex;
    align-items: flex-start;
    gap: 60px;

    .category {
      width: 25%;

      .title {
        @include m.subtitle($fz: 18px, $lh: 26px);
        margin-bottom: 18px;
      }

      .lists {
        .list {
          @include m.description($fz: 16px, $c: v.$text);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 0px 0px 12px;
          margin-bottom: 24px;
          transition: all 0.2s ease;
          cursor: pointer;

          svg {
            rotate: 230deg;
          }

          &:hover {
            color: v.$main;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .result_items {
      width: 75%;

      .scrollbar {
        overflow-y: auto;
        height: 370px;

        @include m.scroll(3px);
      }

      .title {
        @include m.subtitle($fz: 18px, $lh: 26px);
        margin-bottom: 18px;
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #fff;
  margin-top: 1px;

  .round {
    width: 100px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: v.$main;
    --_m: conic-gradient(#0000 50%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }

  &.full_page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(#fff, 0.5);
    padding: 0px;
  }
}

@media (max-width: 575px) {
  .results {
    padding: 15px 10px 110px 10px;
    overflow-y: auto;
    height: calc(100vh - 110px);

    @include m.scroll(3px);

    .content {
      flex-direction: column;
      gap: 25px;

      .category {
        width: 100%;

        .title {
          font-size: 16px;
        }

        .lists {
          .list {
            font-size: 14px;
          }
        }
      }

      .result_items {
        min-width: 100%;

        .title {
          font-size: 16px;
        }

        .scrollbar {
          overflow-y: unset;
          height: auto;
        }
      }
    }
  }

  .loader {
    padding: unset;
    padding-bottom: 170px;
    height: 100vh;
  }
}
