@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.results {
  background-color: #fff;
  padding: 50px 25px;
  margin-top: 1px;

  .content {
    display: flex;
    align-items: flex-start;
    gap: 60px;

    .categories {
      width: 25%;

      .title {
        @include title(
          $m: 0px 0px 18px,
          $c: $text,
          $fw: 700,
          $fz: 18px,
          $lh: 16px
        );
      }

      .lists {
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 0px 0px 12px;
          margin-bottom: 24px;
          color: $text;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          transition: all 0.2s ease;

          cursor: pointer;

          svg {
            rotate: 230deg;
          }

          &:hover {
            color: $main;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .result_items {
      width: 75%;

      .scrollbar {
        overflow-y: auto;
        height: 370px;

        @include scroll(3px);
      }

      .title {
        @include title(
          $m: 0px 0px 18px,
          $c: $text,
          $fw: 700,
          $fz: 18px,
          $lh: 16px
        );
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #fff;
  margin-top: 1px;

  .round {
    width: 100px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $main;
    --_m: conic-gradient(#0000 50%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}

@media (max-width: 575px) {
  .results {
    padding: 15px 10px 110px 10px;
    overflow-y: auto;
    height: calc(100vh - 110px);

    @include scroll(3px);

    .content {
      flex-direction: column;
      gap: 25px;

      .categories {
        width: 100%;

        .title {
          font-size: 17px;
        }

        .lists {
          .list {
            font-size: 14px;
          }
        }
      }

      .result_items {
        min-width: 100%;

        .title {
          font-size: 17px;
        }

        .scrollbar {
          overflow-y: unset;
          height: auto;
        }
      }
    }
  }

  .loader {
    padding: unset;
    padding-bottom: 170px;
    height: 100vh;
  }
}
