@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.modal {
  position: fixed;
  top: 0;
  right: -50%;
  width: 300px;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 4;

  &.active {
    right: 0;
    opacity: 1;
    visibility: visible;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

    .title {
      @include m.subtitle();
    }

    .close {
      cursor: pointer;

      svg {
        transition: all 0.2s ease;
        &:hover {
          fill: #000;
        }
      }
    }
  }

  .skeleton {
    padding: 20px;
  }

  .content {
    .info {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 15px;

      .img {
        display: block;
        min-height: 100px;
        min-width: 100px;
        max-height: 100px;
        max-width: 100px;
      }

      .text {
        .name {
          @include m.subtitle-clamp($lc: 1, $fz: 16px, $fw: 500);

          display: -webkit-inline-box;

          &:hover {
            color: v.$main;
          }
        }

        .sku,
        .tags {
          @include m.description-clamp($lc: 1);

          span {
            color: v.$text;
            margin-right: 5px;
          }
        }
      }
    }

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0px 20px;
      cursor: pointer;

      &:hover {
        background-color: v.$background;
      }

      .size {
        @include m.description($c: v.$descr, $lh: 55px);
      }

      .price {
        @include m.description($c: v.$main, $lh: 55px);
        font-weight: 500;
      }

      .sale {
        @include m.sale($lh: 55px);
        margin-right: 20px;
      }
    }
  }
}

@media (max-width: 575px) {
  .modal {
    width: 100%;
    right: 0;
    bottom: -50%;
    height: 450px;
    top: auto;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &.active {
      bottom: 0;
    }
  }
}
