@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.empty {
  h4 {
    @include m.description($c: v.$text, $fz: 12px);

    margin-bottom: 5px;
  }

  p {
    @include m.description($c: v.$text, $fz: 14px, $fw: 500);

    margin-bottom: 15px;
  }

  .login {
    @include m.button(
      $d: block,
      $p: 15px 25px,
      $bc: v.$main,
      $br: 6px,
      $fz: 14px,
      $fw: 400,
      $lh: 24px,
      $c: #fff,
      $tt: capitalize
    );

    width: 100%;

    margin-bottom: 30px;
  }

  a {
    span {
      @include m.description($c: v.$descr, $fz: 13px);

      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  text-align: center;
}
