@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.review {
  .title {
    @include m.subtitle($fz: 16px);

    display: flex;
    text-align: left;
    padding-bottom: 15px;
    border-bottom: 1px solid v.$main;

    margin-bottom: 10px;
  }

  .summary {
    min-width: 300px;
  }
}

.summary {
  min-width: 350px;
  max-width: 350px;
}

@media (max-width: 575px) {
  .review {
  }

  .summary {
    min-width: 100%;
    max-width: 100%;
  }
}
