@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.checkout {
  margin: 50px 0px 0px 0px;
}

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  border-bottom: 1px solid v.$border;
  padding: 15px 0px;

  .link {
    @include m.description();

    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease;
    padding-left: 30px;

    svg {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      left: 20px;
      transition: all 0.2s ease;
    }

    &:hover {
      color: v.$main;

      svg {
        opacity: 1;
        visibility: visible;
        left: 0;
      }
    }
  }

  .phone {
    @include m.description();

    a {
      transition: all 0.2s ease;

      &:hover {
        text-decoration: underline;
        color: v.$main;
      }
    }
  }
}

@media (max-width: 575px) {
  .checkout {
    margin: 25px 0px 0px 0px;
  }

  .header {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 0px;

    .link {
      display: none;
    }

    .phone {
      display: none;
    }
  }
}
