@import "../../../styles/variables.scss";

.coupon {
  padding: 15px 10px;
  color: $text;
  background-color: #fff;
  border: 1px solid rgba($main, 0.5);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 16px;
  line-height: 16px;
  width: 100%;
  font-weight: 400;

  &::placeholder {
    color: $salePrice;
  }

  &:focus {
    border-color: rgba($main, 1);
    outline: none;
  }
}
