@import "tailwindcss";

.clamp-2-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* breakpoint */
@theme {
  --breakpoint-xs: 575px;
  --breakpoint--xs: 470px;
}

/* reset styles */
:focus,
:active {
  outline: none;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

input,
button,
textarea {
  font-family: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 575px) {
  #banner {
    .container {
      max-width: 100%;
    }
  }

  .container {
    max-width: 95%;
  }
}

/* noSpin in Chrome, Safari, Edge и Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* noSpin in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
