@import "./variables.scss";

@mixin title($m: unset, $fw: 900, $lh: 24px, $fz: 18px, $c: $text) {
  color: $c;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  margin: $m;
}

@mixin description($mb: unset, $fw: 400, $lh: 24px, $fz: 14px, $c: $descr) {
  color: $c;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  margin-bottom: $mb;
}

@mixin title-clamp(
  $mb: unset,
  $fw: 700,
  $lh: 26px,
  $fz: 20px,
  $c: $text,
  $lc: 2
) {
  color: $c;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  margin-bottom: $mb;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lc;
}

@mixin description-clamp(
  $mb: unset,
  $fw: 400,
  $lh: 22px,
  $fz: 14px,
  $c: $descr,
  $lc: 2
) {
  color: $c;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  margin-bottom: $mb;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lc;
}

@mixin price($fw: 500, $lh: 16px, $fz: 16px, $c: $descr, $ta, $w: auto) {
  color: $c;
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  text-align: $ta;
  width: $w;
}

@mixin sale-price(
  $ml: unset,
  $fw: 500,
  $lh: 16px,
  $fz: 16px,
  $c: $salePrice,
  $td: $salePriceLine line-through,
  $w: auto
) {
  font-size: $fz;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
  margin-left: $ml;
  text-decoration: $td;
}

@mixin percent($br: 0, $m: 5px 0 0 5px, $fz: 16px) {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: $main;
  color: #fff;
  font-weight: 500;
  font-size: $fz;
  line-height: 16px;
  margin: $m;
  border-radius: $br;
}

@mixin scroll($width) {
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($main, 0.5);
  }

  &::-webkit-scrollbar-track {
    background-color: $line;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba($main, 1);
    cursor: pointer;
  }
}

@mixin cartQuantity() {
  position: relative;

  span {
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 10px;
    bottom: 100%;
    left: 100%;
    transform: translate(-50%, 50%);
    position: absolute;
    background-color: $main;
    height: 22px;
    width: 22px;
    border-radius: 100%;
  }
}

@mixin overlay() {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  transition: all 0.2s ease;
}

@mixin button($d, $p, $bc, $br, $fz, $fw, $lh, $c, $tt) {
  display: $d;
  padding: $p;
  background-color: $bc;
  border-radius: $br;
  font-size: $fz;
  font-weight: $fw;
  color: $c;
  line-height: $lh;
  text-transform: $tt;
  transition: all 0.2s ease;

  &:hover {
    background-color: #2d763c;
  }
}
