$main: #46a358;
$main-hover: #3c8b32;
$descr: #727272;
$text: #3d3d3d;
$tag: #acacac;
$background: #fafafa;
$sale: #a5a5a5;
$sale-line: #cbcbcb;
$border: #eaeaea;
$transparent-line: rgba($main, 0.1);
