@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.blog {
  margin-bottom: 100px;

  .title {
    @include m.title();

    text-align: center;
    margin-bottom: 15px;
  }

  .descr {
    @include m.description();

    text-align: center;
    margin-bottom: 35px;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;

    .wrapper {
      text-align: center;

      .info {
        text-align: left;
        padding: 10px;
        background-color: v.$background;

        .date {
          text-align: center;
          margin-bottom: 5px;

          span {
            @include m.description($c: v.$main);
          }

          .element {
            @include m.description($c: v.$text);

            padding: 0px 10px;
          }
        }

        h3 {
          @include m.subtitle-clamp();

          margin-bottom: 10px;
        }

        p {
          @include m.description-clamp();

          margin-bottom: 15px;
        }

        a {
          @include m.description($fw: 500, $c: v.$text);

          position: relative;

          svg {
            position: absolute;
            top: 0;
            left: 80px;
            margin-top: 15px;
            transition: all 0.2s ease;
            opacity: 0;
            visibility: hidden;
          }

          &:hover {
            color: v.$main;

            svg {
              opacity: 1;
              visibility: visible;
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .blog {
    margin-bottom: 20px;

    .title {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 5px;
    }

    .descr {
      margin-bottom: 25px;
    }

    .content {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .wrapper {
        img {
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
        }

        .info {
          padding: 15px;
          border-bottom-right-radius: 6px;
          border-bottom-left-radius: 6px;

          .date {
            text-align: left;
          }

          h3 {
            font-size: 16px;
            margin-bottom: 5px;
          }

          p {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .blog {
    .content {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
