@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.mobile_header,
.top_info {
  display: none;
}

@media (max-width: 575px) {
  .mobile_header {
    @include m.mobile-header();
    position: relative;

    &.burger_header {
      padding: 0px 10px;
    }

    .burger {
      position: fixed;
      left: -100%;
      height: 100%;
      width: 100%;
      top: 0;
      overflow-y: auto;
      z-index: 5;
      transition: all 0.2s ease;
      background-color: v.$background;

      &.visible {
        left: 0%;
      }

      .sale {
        display: block;
        background: url("../../../../public/header/menu-mobile/special_sale-min.png")
          center (center / cover) no-repeat;
        width: 100%;
        height: 245px;

        .text {
          @include m.description($fw: 400, $lh: 42px, $fz: 20px, $c: v.$descr);
          padding: 65px 20px;
          text-align: center;
          height: 100%;

          b {
            font-size: 30px;
            color: red;
            text-transform: uppercase;
          }
        }
      }

      .menu {
        display: flex;
        flex-direction: column;

        .lists {
          margin: 25px 0px;
          width: 100%;

          .list {
            padding: 12px 16px;
            margin-bottom: 15px;
            a {
              @include m.description($c: v.$text);
              display: flex;
              align-items: center;

              svg {
                margin-right: 15px;
              }
            }

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }

        .login {
          @include m.button(
            $d: flex,
            $p: 15px,
            $bc: v.$main,
            $br: 0px,
            $fz: 14px,
            $fw: 400,
            $lh: 20px,
            $c: #fff,
            $tt: unset
          );

          svg {
            margin-right: 10px;
          }

          align-items: center;
          justify-content: center;
          width: 100%;
          margin-bottom: 15px;
        }
      }
    }
  }

  .top_info {
    display: block;
    border-bottom: 1px solid v.$border;
    background-color: #fff;

    .text {
      @include m.description($c: #fff);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 25px;
      background-color: v.$main;

      &.delivered {
        height: 40px;
        color: v.$text;
        background-color: #fff;
      }
    }
  }
}
