@import "../../styles/variables.scss";

.login {
  padding: 10px 20px;
  background-color: $main;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;

  svg {
    margin-right: 5px;
  }

  &:hover {
    background-color: #2d763c;
  }
}

.join,
.coupon {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  line-height: 16px;
  padding: 10px 25px;
  background-color: $main;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;

  &:hover {
    background-color: #2d763c;
  }
}

.banner {
  padding: 15px 30px;
  background-color: $main;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;

  &:hover {
    background-color: #2d763c;
  }
}

.adv {
  display: inline-flex;
  align-items: center;
  padding: 15px 30px;
  background-color: $main;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  line-height: 20px;

  svg {
    margin-left: 5px;
  }

  &:hover {
    background-color: #2d763c;
  }
}

.filter {
  padding: 10px 25px;
  background-color: $main;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  margin-left: 12px;

  &:hover {
    background-color: #2d763c;
  }
}

.checkout {
  text-align: center;
  width: 100%;
  padding: 15px 30px;
  background-color: $main;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  line-height: 16px;
  margin-bottom: 15px;

  &:hover {
    background-color: #2d763c;
  }
}

.filter_mobile {
  height: 45px;
  min-width: 45px;
  border-radius: 14px;
  background-color: $main;
  margin-left: 10px;

  &:hover {
    background-color: #2d763c;
  }
}

.banner_mobile {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  display: inline-flex;
  text-transform: uppercase;
  align-items: center;
  color: $main;

  svg {
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .adv {
    border-radius: 40px;
  }
}
