@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.quantity {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  button {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    background-color: #fff;
    border: 1px rgba(v.$main, 0.5) solid;
    transition: all 0.2s ease;

    &:hover {
      border: 1px rgba(v.$main, 1) solid;
    }
  }

  span {
    @include m.description($c: v.$text);

    text-align: center;
  }
}
