@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.overlay {
  @include m.overlay();
  transition: all 0.3s ease;
  visibility: hidden;
  opacity: 0;
  z-index: 3;

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  .search_items_input {
    width: 1200px;
    position: fixed;
    right: 50%;
    top: 0;
    transform: translate(50%, 0%);
    z-index: 3;
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;

    .block {
      display: flex;
      align-items: center;
      background-color: #fff;
      padding: 10px 0px;

      .search {
        @include m.description($fz: 16px, $c: v.$text);
        padding: 0px 10px;
        height: 50px;
        background-color: #fff;
        width: 100%;

        &::placeholder {
          color: v.$sale;
        }
      }
    }

    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
}

.svg_close,
.svg_search {
  cursor: pointer;
}

.svg_search {
  margin-left: 25px;
}

.svg_close {
  margin-right: 25px;
  svg {
    transition: all 0.2s ease;
    &:hover {
      fill: #000;
    }
  }
}

@media (max-width: 575px) {
  .overlay {
    .search_items_input {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
      transform: none;
      transition: all 0.2s ease;
    }
  }
}
