@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.block {
  .label {
    @include m.description($c: v.$text);

    display: inline-block;
    margin-bottom: 10px;

    span {
      font-size: 15px;
      color: red;
    }
  }

  .input,
  .textarea {
    @include m.description($fz: 16px, $c: v.$text);
    @include m.input();

    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    &.false {
      border-color: red;

      &:hover {
        border-color: rgba(v.$main, 1);
      }
    }
  }

  .textarea {
    resize: none;
  }

  .error {
    @include m.description($c: red, $fz: 12px);

    display: inline-block;
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
}
