@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.sort {
  position: relative;
  display: flex;
  align-items: center;

  .descr {
    @include m.description();
    margin-right: 5px;

    span {
      color: v.$text;
      font-weight: 500;
    }
  }

  svg {
    cursor: pointer;
  }

  .lists {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 30px;
    right: 0;
    padding: 12px 24px 24px 24px;
    min-width: 200px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .list {
      @include m.description($lh: 21px);
      margin-bottom: 15px;
      cursor: pointer;
      transition: all 0.2s ease;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        color: v.$text;
      }

      &.active {
        color: v.$text;
        font-weight: 500;
      }
    }

    &.active {
      display: block;
    }
  }
}

@media (max-width: 575px) {
  .sort {
    display: none;
  }
}
