@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.single_item {
  margin: 50px 0px 100px;

  .content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    gap: 50px;
    margin-bottom: 100px;

    img {
      border-radius: 6px;
    }

    .percent {
      @include m.percent(6px);
    }

    .block {
      h2 {
        @include m.subtitle($lh: 32px, $fz: 26px, $c: v.$text);
        margin-bottom: 10px;
      }

      .info {
        display: flex;
        align-items: center;

        .sale {
          @include m.sale();
          margin-left: 20px;
        }

        .price {
          @include m.price($c: v.$main);
        }
      }

      .line {
        display: block;
        width: 100%;
        height: 0.5px;
        background-color: rgba(v.$main, 0.5);
        margin: 15px 0px;
      }

      .description {
        @include m.description();
        margin-bottom: 25px;
      }

      .subtitle,
      .size {
        @include m.subtitle($fz: 16px, $c: v.$text);
        display: inline-block;
        margin-bottom: 10px;
      }

      .lists {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 25px;

        .list {
          @include m.subtitle($fz: 16px, $c: v.$descr);
          display: flex;
          align-items: center;
          justify-content: center;
          height: 38px;
          width: 38px;
          border: 1px solid v.$border;
          border-radius: 100%;
          cursor: pointer;

          &:hover {
            color: v.$main;
            border: 1px solid v.$main;
          }

          &.selected {
            color: v.$main;
            border: 2px solid v.$main;
          }
        }
      }

      .action {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 25px;
      }

      .sku,
      .tags,
      .categories {
        @include m.description();
        margin-bottom: 10px;

        span {
          font-weight: 500;
          color: v.$text;
          font-size: 16px;
        }
      }

      .tags {
        margin-bottom: 25px;
      }

      .share {
        display: flex;
        align-items: center;

        .text {
          @include m.subtitle($fz: 16px, $c: v.$text);
          margin-right: 15px;
        }

        .share_lists {
          display: inline-flex;
          align-items: center;
          gap: 20px;

          li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            border-radius: 4px;
            border: 1px v.$line solid;
            transition: all 0.2s ease;

            cursor: pointer;

            &:hover {
              border: 1px rgba(v.$main, 1) solid;

              svg {
                fill: v.$main;
              }
            }
          }
        }
      }
    }
  }

  .outline {
    margin-bottom: 100px;

    .wrapper {
      border-bottom: 1px solid v.$line;
      margin-bottom: 30px;

      .title {
        @include m.subtitle($c: v.$main);
        display: inline-block;
        padding-bottom: 15px;
        border-bottom: 3px solid v.$main;
      }
    }

    .text {
      @include m.description();
    }

    &:last-child {
      margin-bottom: 0px;
    }
  }
}

@media (max-width: 575px) {
  .single_item {
    margin-bottom: 50px;

    .content {
      grid-template-columns: repeat(1, 1fr);
      gap: 25px;
      margin-bottom: 50px;

      .percent {
        @include m.percent(6px);
        font-size: 12px;
        padding: 8px;
      }

      .block {
        h2 {
          font-size: 24px;
        }

        .info {
          .price {
            font-size: 18px;
          }
        }

        .lists {
          .list {
            border-radius: 6px;
            height: 46px;
            width: 46px;
            font-size: 16px;
          }
        }

        .action {
          justify-content: space-between;
          gap: 20px;
        }

        .share {
          flex-direction: column;
          align-items: start;

          .text {
            margin: 0px 0px 10px 0px;
          }

          .share_lists {
            li {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    .outline {
      margin-bottom: 50px;

      .wrapper {
        margin-bottom: 15px;
      }
    }
  }
}
