@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.column {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .content {
    display: flex;
    align-items: center;
    gap: 10px;

    .input {
      @include m.description($fz: 16px, $c: v.$text);

      width: 70px;
      height: 40px;
      background-color: #fff;
      border: 1px solid #ebebeb;
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  .column {
    .content {
      .input {
        text-align: center;
        width: 100%;
      }
    }
  }
}
