@import "../../../styles/variables.scss";

.backspace {
  display: flex;
  align-items: center;
  margin: 35px 0px;

  h2 {
    display: block;
    margin: 0 auto;
    font-size: 17px;
    line-height: 16px;
    color: $text;
    font-weight: 700;
  }
}
