@use "../../../styles/variables.scss" as v;

.backspace {
  display: none;
  align-items: center;
  border-right: 1px solid v.$border;
  height: 100%;
}

@media (max-width: 575px) {
  .backspace {
    display: flex;

    button {
      height: 100%;
      background-color: transparent;
    }
  }
}
