@import "../../../components/styles/variables.scss";

.newsletters {
  padding: 15px;
  color: $text;
  background-color: #fff;
  border: 1px solid rgba($main, 0.1);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  font-weight: 400;

  &::placeholder {
    color: $sailPrice;
  }

  &:focus {
    border-color: rgba($main, 0.3);
    outline: none;
  }
}

.wrapper {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #fff;
  height: 100%;
}

.search {
  padding: 15px 30px;
  color: $text;
  background-color: #fff;
  font-size: 16px;
  line-height: 18px;
  width: 100%;
  font-weight: 400;
  height: 100%;

  &::placeholder {
    color: $sailPrice;
  }
}

.svg_close,
.svg_search {
  cursor: pointer;
  svg {
    transition: 0.5s ease;
    &:hover {
      fill: #000;
    }
  }
}

.svg_search {
  margin-left: 25px;
}

.svg_close {
  margin-right: 25px;
}

.coupon {
  padding: 15px 10px;
  color: $text;
  background-color: #fff;
  border: 1px solid rgba($main, 0.5);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  font-weight: 400;

  &::placeholder {
    color: $sailPrice;
  }

  &:focus {
    border-color: rgba($main, 1);
    outline: none;
  }
}

.login,
.password {
  padding: 15px 10px;
  color: $text;
  background-color: #fff;
  border: 1px solid $line;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 20px;

  &:focus {
    border-color: $main;
    outline: none;
  }

  &:last-child {
    margin-bottom: 15px;
  }

  &::placeholder {
    color: $sailPrice;
  }
}

@media (max-width: 575px) {
  .mobile {
    padding: 15px 10px 15px 40px;
    color: $text;
    background-color: #fff;
    border: 1px solid rgba($main, 0.5);
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    font-weight: 400;

    &:focus {
      border-color: rgba($main, 1);
      outline: none;
    }
  }

  .svg_search {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    left: 0%;
    margin-left: 10px;
  }

  .newsletters {
    .content {
      input {
        font-size: 14px;
      }
    }
  }
}
