@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.menu {
  display: none;
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 -2px 8px #00000026;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;

  .lists {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .list {
      .link {
        @include m.cart-quantity();

        &.active {
          pointer-events: none;

          path {
            stroke: v.$main;
          }
        }

        &.loading {
          pointer-events: none;
          svg {
            stroke: v.$sale-line;
          }
        }

        &.authenticated {
          svg {
            stroke: v.$main;
            fill: v.$main;
          }
        }
      }

      .category {
        display: block;

        &.active {
          pointer-events: none;

          path {
            stroke: v.$main;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .menu {
    display: block;
  }
}
