@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.menu {
  display: none;
  width: 100%;
  position: fixed;
  padding: 20px 30px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 -2px 8px #00000026;
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease;

  .lists {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .list {
      @include cartQuantity();

      &.active {
        svg {
          fill: $main;
        }
      }
    }
  }

  &.active {
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 575px) {
  .menu {
    display: block;
  }
}
