@import "../../../components/styles/variables.scss";

.result {
  background-color: #fff;
  padding: 50px 25px;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    .categories {
      .title {
        color: $text;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 20px;
      }

      .lists {
        .list {
          min-width: 200px;
          padding: 0px 0px 0px 12px;
          height: 50px;
          margin-bottom: 10px;

          a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            color: $text;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            height: 100%;

            svg {
              rotate: 220deg;
            }

            &:hover {
              color: $main;
            }
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .result_items {
      min-width: 850px;
      .title {
        color: $text;
        font-weight: 700;
        font-size: 18px;
        line-height: 16px;
        margin-bottom: 20px;
      }
    }
  }
}
