@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.authError {
  position: fixed;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  background-color: tomato;
  text-align: center;
  transition: all 0.3s ease;
  width: 100%;
  padding: 15px 25px;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
    top: 0;
  }

  .text {
    @include m.description($c: #fff);

    position: relative;
    width: 100%;

    .close {
      display: flex;
      align-items: center;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      cursor: pointer;

      svg {
        transition: all 0.3s ease;
        &:hover {
          fill: #fff;
        }
      }
    }
  }
}
