@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.banner {
  margin-bottom: 45px;

  .content {
    display: flex;
    background-color: $background;

    .info {
      padding: 70px 0px 85px 40px;

      span {
        @include description($c: $text);
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
      }

      h1 {
        @include header();
        text-transform: uppercase;
        margin-bottom: 10px;

        mark {
          background-color: transparent;
          color: $main;
        }
      }

      p {
        @include description();
        margin-bottom: 45px;
      }
    }
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 575px) {
  .banner {
    margin-bottom: 20px;

    .content {
      display: none;
    }

    .mobile {
      display: block;

      .content {
        display: block;
        background: url("../../../../public/banner-mobile-min.png") center
          (center / cover) no-repeat;

        .info {
          padding: 40px 10px;

          span {
            font-size: 12px;
          }

          h1 {
            font-size: 24px;
            line-height: 29px;
          }

          p {
            margin-bottom: 10px;
            width: 200px;
          }
        }
      }
    }
  }
}
