.swiper-pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  bottom: 0;
  margin-bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-pagination_cart {
  position: relative;
  margin: 45px 0px 0px 0px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #46a358;
  transition: all 0.2s ease;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background-color: #46a358;
}
