.swiper-pagination-banner {
  display: none;
  position: absolute;
  justify-content: center;
  gap: 15px;
  z-index: 1;
  bottom: 0;
  margin-bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-pagination-banner .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100%;
  border: 1px solid #46a358;
  transition: all 0.2s ease;
  cursor: pointer;
}

.swiper-pagination-banner .swiper-pagination-bullet-active {
  background-color: #46a358;
}

@media (max-width: 575px) {
  .swiper-pagination-banner {
    display: flex;
  }
}
