@import "../../../components/styles/variables.scss";

.footer {
  .content {
    background-color: $background;
    .service {
      padding: 25px;

      .label {
        display: flex;
        align-items: center;
        .info {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;

          .inner {
            padding-right: 35px;
            border-right: 1px rgba($main, 0.1) solid;

            .title {
              margin: 20px 0px 10px;
              font-size: 17px;
              font-weight: 700;
              color: $text;
              line-height: 16px;
            }

            .descr {
              font-size: 14px;
              font-weight: 400;
              color: $descr;
              line-height: 22px;
            }

            &:nth-child(3n) {
              border-right: none;
            }
          }
        }

        .newsletters {
          max-width: 350px;

          .title {
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 700;
            color: $text;
            line-height: 16px;
          }

          form {
            display: flex;
          }

          .descr {
            font-size: 14px;
            line-height: 22px;
            color: $descr;
            font-weight: 400;
            margin-top: 20px;
          }
        }
      }
    }

    .contacts {
      border-top: 1px rgba($main, 0.1) solid;
      border-bottom: 1px rgba($main, 0.1) solid;

      .wrapper {
        display: flex;
        gap: 60px;
        padding: 25px;
        background-color: rgba($main, 0.1);

        .lists {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          justify-items: center;
          .list {
            display: flex;
            align-items: center;

            .icon {
              margin-right: 10px;
            }

            .descr {
              font-size: 14px;
              line-height: 22px;
              color: $text;
              font-weight: 400;
            }
          }
        }
      }
    }

    .feedback {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px 25px;
      border-bottom: 1px rgba($main, 0.2) solid;

      .title {
        font-size: 18px;
        font-weight: 700;
        line-height: 16px;
        color: $text;
        margin-bottom: 10px;
      }

      .lists {
        .list {
          .link {
            font-size: 14px;
            line-height: 30px;
            color: $text;
            font-weight: 400;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      .accept {
        width: 350px;

        .lists {
          display: flex;
          align-items: center;
          .list {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            width: 30px;
            border-radius: 4px;
            border: 1px rgba($main, 0.2) solid;
            cursor: pointer;
            margin-right: 10px;
            transition: 0.5s ease;

            &:hover {
              border: 1px rgba($main, 0.6) solid;
            }

            .link {
              font-size: 15px;
            }

            &:last-child {
              margin-right: 0px;
            }
          }

          li {
            margin-right: 15px;

            &:last-child {
              margin-right: 0px;
            }
          }

          &:last-child {
            height: 30px;
          }
        }
      }
    }

    .privacy {
      background-color: #fff;
      text-align: center;
      color: $text;
      line-height: 30px;
      font-weight: 400;
      padding: 10px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding-bottom: 50px;
    .content {
      .contacts {
        .wrapper {
          flex-direction: column;
          gap: 10px;
          padding: 20px;
          .lists {
            grid-template-columns: repeat(1, 1fr);
            justify-items: normal;

            .list {
              margin-bottom: 10px;

              .descr {
                font-size: 12px;
              }

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }
        }
      }

      .service {
        padding: 20px;

        .title {
          font-size: 17px;
        }

        .label {
          flex-direction: column;
          .info {
            grid-template-columns: repeat(1, 1fr);

            .inner {
              padding: 0px 0px 25px 0px;
              border-right: none;
              border-bottom: 1px rgba($main, 0.1) solid;

              svg {
                display: block;
                margin: 0 auto;
              }

              .title {
                font-size: 17px;
              }

              .descr {
                font-size: 12px;
              }

              .title,
              .descr {
                text-align: center;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }

          .newsletters {
            max-width: 100%;

            .descr,
            .title {
              text-align: center;
            }
            .title {
              font-size: 17px;
              line-height: 22px;
            }

            .descr {
              font-size: 12px;
            }
          }
        }
      }

      .feedback {
        padding: 20px;
        grid-template-columns: repeat(1, 1fr);

        .title {
          font-size: 17px;
        }

        .lists {
          .list {
            .link {
              font-size: 12px;
            }
          }
        }

        .accept {
          width: auto;
        }
      }
    }
  }
}
