@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.footer {
  .content {
    background-color: v.$background;
    border-bottom: 1px solid v.$line;

    .service {
      padding: 25px;

      .label {
        display: flex;
        align-items: center;

        .info {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 30px;

          .inner {
            padding-right: 35px;
            border-right: 1px solid v.$line;

            .title {
              @include m.subtitle();
              margin: 20px 0px 10px;
            }

            .descr {
              @include m.description();
            }

            &:nth-child(3n) {
              border-right: none;
            }
          }
        }

        .newsletters {
          max-width: 350px;

          .title {
            @include m.subtitle();
            margin-bottom: 10px;
          }

          form {
            display: flex;
          }

          .descr {
            @include m.description();
            margin-top: 20px;
          }
        }
      }
    }

    .feedback {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
      padding: 30px 25px;

      .nav {
        .title {
          @include m.subtitle();
          margin-bottom: 10px;
        }

        .lists {
          .list {
            margin-bottom: 5px;

            .link {
              @include m.description($c: v.$text);
              &:hover {
                text-decoration: underline;
              }
            }

            &:last-child {
              margin-bottom: 0px;
            }
          }
        }
      }
    }
  }

  .privacy {
    @include m.description($fz: 12px, $c: v.$text);
    background-color: #fff;
    text-align: center;
    padding: 10px 0px;
  }
}

.contacts {
  border-top: 1px solid v.$main;
  border-bottom: 1px solid v.$main;

  &.burger_menu {
    margin-bottom: 15px;
  }

  .wrapper {
    display: flex;
    gap: 60px;
    padding: 25px;
    background-color: v.$line;

    .lists {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

      .list {
        display: flex;
        align-items: center;

        .icon {
          margin-right: 10px;
        }

        .descr {
          @include m.description($c: v.$text);
        }
      }
    }
  }
}

.accept {
  width: 350px;

  .inner {
    margin-bottom: 30px;

    &.burger_menu {
      margin-bottom: 15px;
    }
  }

  .title {
    @include m.subtitle();
    margin-bottom: 10px;

    &.burger_menu {
      margin-bottom: 15px;
    }
  }

  .lists {
    display: flex;
    align-items: center;

    &.burger_menu {
      justify-content: space-between;
    }

    .list {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 4px;
      border: 1px v.$line solid;
      cursor: pointer;
      margin-right: 10px;
      transition: all 0.2s ease;

      &.burger_menu {
        width: 40px;
        height: 40px;
        border-radius: 0px;
      }

      &:hover {
        border: 1px rgba(v.$main, 1) solid;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    li {
      margin-right: 15px;

      .link {
        display: block;
        height: 100%;
      }

      &:last-child {
        margin-right: 0px;
      }
    }

    &:last-child {
      height: 30px;
    }
  }
}

@media (max-width: 575px) {
  .footer {
    padding-bottom: 50px;

    .content {
      border-radius: 6px;
      border-bottom: none;

      .service {
        padding: 15px;

        .label {
          flex-direction: column;

          .info {
            margin-bottom: 25px;

            .inner {
              padding: unset;
              border-right: none;
              border-bottom: none;
              gap: 15px;

              svg {
                display: block;
                margin: 0 auto;
              }

              .title {
                font-size: 16px;
              }

              .title,
              .descr {
                min-height: 50px;
                text-align: center;
              }

              &:last-child {
                border-bottom: none;
              }
            }
          }

          .newsletters {
            max-width: 100%;

            .title {
              font-size: 16px;
              text-align: center;
            }
          }
        }
      }

      .feedback {
        padding: 15px;
        grid-template-columns: repeat(2, 1fr);

        .title {
          font-size: 16px;
        }
      }
    }
  }

  .accept {
    width: auto;

    .title {
      font-size: 16px;
    }
  }

  .contacts {
    .wrapper {
      flex-direction: column;
      gap: 10px;
      padding: 15px;

      .lists {
        grid-template-columns: repeat(1, 1fr);
        justify-items: normal;

        .list {
          margin-bottom: 10px;

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .footer {
    .content {
      .service {
        .label {
          .info {
            grid-template-columns: repeat(2, 1fr);
          }
        }
      }

      .feedback {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    .privacy {
      padding: 10px 0px 20px;
    }
  }
}
