@import "../../../components/styles/variables.scss";

.items {
  .lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 40px;

    .list {
      position: relative;

      img {
        width: 100%;
        padding-bottom: 50px;
        transition: 0.3s ease;
      }

      .title {
        font-size: 16px;
        line-height: 16px;
        color: $text;
        margin: 30px 0px 15px;
        font-weight: 500;
      }

      .percent {
        position: absolute;
        top: 2%;
        left: 3%;
        padding: 10px;
        background-color: $main;
        color: #fff;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
      }

      .sailPrice {
        font-size: 18px;
        font-weight: 400;
        line-height: 16px;
        color: $sailPrice;
        margin-left: 20px;
        text-decoration: $sailPriceLine line-through;
      }

      .price {
        color: $main;
        font-weight: 700;
        font-size: 18px;
        line-height: 18px;
      }

      .control {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;

        svg {
          cursor: pointer;
          margin-right: 30px;

          &:last-child {
            margin-right: 0px;
          }
        }
      }

      .line {
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        border-bottom: 1px solid $main;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
      }

      &:hover {
        img {
          background-color: $background;
        }

        .line {
          opacity: 1;
          visibility: visible;
        }

        .control {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}
