@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.results {
  background-color: #fff;
  padding: 50px 25px;
  border-top: 1px solid v.$border;

  .content {
    display: flex;
    align-items: flex-start;
    gap: 60px;

    .category {
      min-width: 300px;
      max-width: 300px;

      .title {
        @include m.subtitle($fz: 18px, $lh: 26px);
        margin-bottom: 18px;
      }

      .lists {
        .list {
          @include m.description($fz: 16px, $c: v.$text);
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 0px 0px 12px;
          margin-bottom: 24px;
          transition: all 0.2s ease;
          cursor: pointer;

          svg {
            rotate: 230deg;
          }

          &:hover {
            color: v.$main;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .container {
      min-width: 800px;
      max-width: 800px;

      .title {
        @include m.subtitle($fz: 18px, $lh: 26px);
        margin-bottom: 18px;
      }

      .items {
        @include m.scroll(3px);

        height: 370px;
        overflow-y: auto;
      }
    }
  }
}

@media (max-width: 575px) {
  .results {
    padding: 15px 10px;
    border-top: unset;

    .content {
      flex-direction: column;
      gap: 25px;

      .category {
        width: 100%;

        .title {
          font-size: 16px;
        }

        .lists {
          .list {
            font-size: 14px;
          }
        }
      }

      .container {
        min-width: 100%;
        .title {
          font-size: 16px;
        }

        .items {
          overflow-y: unset;
          height: auto;
        }
      }
    }
  }
}
