@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.sort {
  display: inline-block;
  cursor: pointer;

  .content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    align-items: center;

    .descr {
      @include m.description();

      span {
        color: v.$text;
        font-weight: 500;
      }
    }

    .lists {
      text-align: left;
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      top: 30px;
      right: 0;
      padding: 18px;
      min-width: 200px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid v.$border;

      .list {
        margin-bottom: 15px;
        transition: all 0.2s ease;
        cursor: pointer;

        &:last-child {
          margin-bottom: 0px;
        }

        .text {
          @include m.description($lh: 21px);

          &:hover {
            color: v.$text;
          }

          &.active {
            color: v.$text;
            font-weight: 500;
          }
        }
      }

      &.active {
        display: block;
      }
    }
  }
}

@media (max-width: 575px) {
  .sort {
    padding: 10px 20px;
    border: 1px solid #000;

    &.active {
      border: 1px solid v.$main;
    }

    .content {
      position: unset;
      .descr {
        color: v.$text;
        font-weight: 500;
      }

      .lists {
        top: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 2;

        .list {
          margin-bottom: 30px;
        }
      }
    }
  }
}
