.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
