@use "../../../styles/mixins" as m;
@use "../../../styles/variables.scss" as v;

.adv {
  margin: 100px 0px 140px;

  .content {
    display: flex;
    align-items: center;
    gap: 30px;

    .info {
      position: relative;
      background-color: v.$background;
      width: 100%;

      .img {
        position: absolute;
        width: 320px;
        height: auto;
        bottom: 0;
        left: 50%;
      }

      .wrapper {
        text-align: left;
        padding: 40px 0px 45px 30px;
        width: 295px;

        .title {
          @include m.subtitle-clamp();
          text-transform: uppercase;
          margin-bottom: 10px;
        }

        .descr {
          @include m.description-clamp();
          margin-bottom: 15px;
        }

        a {
          @include m.button(
            $d: inline-flex,
            $p: 15px 30px,
            $bc: v.$main,
            $br: 6px,
            $fz: 14px,
            $fw: 400,
            $lh: 24px,
            $c: #fff
          );

          align-items: center;

          svg {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .adv {
    margin: 20px 0px;

    .content {
      gap: 20px;

      .info {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        border-radius: 6px;

        .img {
          position: relative;
          width: 100%;
          left: 0%;
        }

        .wrapper {
          text-align: center;
          width: 100%;
          padding: 25px 15px;

          .title {
            font-size: 16px;
            margin-bottom: 5px;
          }

          .descr {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 470px) {
  .adv {
    .content {
      flex-direction: column;
    }
  }
}
