@import "../../styles/variables.scss";

.adv {
  margin: 100px 0px 140px;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

    .info {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      background-color: $background;

      .wrapper {
        text-align: right;
        padding: 40px 30px 45px 0px;
        width: 350px;

        .title {
          font-size: 18px;
          line-height: 24px;
          color: $text;
          font-weight: 900;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        .descr {
          font-size: 14px;
          line-height: 24px;
          font-weight: 400;
          margin-bottom: 25px;
          color: $descr;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .adv {
    .content {
      grid-template-columns: repeat(1, 1fr);

      .info {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        border-radius: 20px;

        .wrapper {
          text-align: center;
          width: auto;
          padding: 25px 20px;

          .title {
            font-size: 17px;
          }

          .descr {
            font-size: 12px;
          }
        }
      }
    }
  }
}
