@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.block {
  display: flex;

  .feedback {
    @include description($fz: 16px, $c: $text);
    padding: 15px;
    background-color: #fff;
    border: 1px solid rgba($main, 0.1);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 100%;

    &::placeholder {
      color: $sale;
    }

    &:focus {
      border-color: rgba($main, 0.5);
      outline: none;
    }
  }
}

@media (max-width: 575px) {
  .block {
    flex-direction: column;

    .feedback {
      margin-bottom: 10px;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}
