@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

@keyframes bounceIn {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

.modal_category {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 3;
  overflow-y: auto;
  animation: bounceIn 0.3s ease forwards;

  .header {
    @include m.mobile-header();
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #fff;
    border-bottom: 1px solid v.$border;

    .title {
      @include m.subtitle($lh: 16px, $fz: 20px);
    }

    .close {
      @include m.mobile-modal-close();
    }
  }

  .content {
    padding: 10px;
  }
}
