@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.nav {
  .lists {
    .list {
      @include m.description($lh: 55px, $c: v.$text, $fw: 500);

      cursor: pointer;
      transition: all 0.1s ease;

      &:hover {
        background-color: v.$background;
        color: v.$main;
      }

      &.active {
        color: v.$main;
        background-color: v.$background;
        border-left: 5px solid v.$main;

        svg {
          stroke: v.$main;
        }

        &:hover {
          background-color: v.$background;
        }
      }

      .link {
        padding: 0px 12px;
        display: flex;
        align-items: center;

        .text {
          display: block;
          margin-left: 10px;
        }
      }
    }
  }

  .line {
    display: block;
    height: 1px;
    border-bottom: 1px solid v.$transparent-line;
  }
}

@media (max-width: 575px) {
}
