@use "../../../../styles/variables.scss" as v;
@use "../../../../styles/mixins.scss" as m;

.nav {
  .lists {
    .list {
      .link {
        @include m.description($lh: 55px, $c: v.$text, $fw: 500);

        padding: 0px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          background-color: v.$background;
          color: v.$main;
        }

        &.active {
          color: v.$main;
          background-color: #fff;
          border-left: 5px solid v.$main;

          svg {
            stroke: v.$main;
          }

          &:hover {
            background-color: v.$background;
          }
        }

        .text {
          display: block;
          margin-left: 10px;
        }
      }
    }
  }

  .line {
    display: block;
    height: 1px;
    border-bottom: 1px solid v.$transparent-line;
  }
}

@media (max-width: 575px) {
}
