@import "../../../styles/variables.scss";

.wrapper {
  max-width: 1200px;
  margin: 0 auto;

  .item_path {
    display: flex;
    align-items: center;

    .lists {
      display: flex;
      align-items: center;

      .list {
        font-size: 15px;
        line-height: 16px;
        color: $descr;
        font-weight: 400;
        padding: 15px 0px;
        margin-left: 5px;
        cursor: pointer;

        &.active {
          color: $text;
          cursor: auto;
          font-weight: 700;
        }

        &.link {
          margin-left: 0px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .wrapper {
    max-width: 100%;

    .item_path {
      display: flex;
      align-items: center;
      height: 50px;
      border-top: 1px solid $border;
      border-bottom: 1px solid $border;

      .lists {
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        height: 100%;

        .list {
          &.link {
            padding-left: 15px;
          }

          &.active {
            padding-right: 15px;
          }
        }
      }
    }
  }
}
