@use "../../../styles/variables.scss" as v;
@use "../../../styles/mixins.scss" as m;

.signUp {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 50px;
  gap: 15px;

  .loginName,
  .signUpName,
  .loginPassword,
  .signUpEmail,
  .signUpPassword,
  .confirm {
    @include m.description($fz: 16px, $c: v.$text);
    @include m.input();

    border-radius: 6px;
    margin-bottom: 20px;
  }
}
