@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.results {
  background-color: #fff;
  padding: 50px 25px;
  margin-top: 1px;

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

    .categories {
      .title {
        @include title(
          $m: 0px 0px 10px,
          $c: $text,
          $fw: 700,
          $fz: 18px,
          $lh: 16px
        );
      }

      .lists {
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0px 0px 0px 12px;
          height: 50px;
          margin-bottom: 10px;
          color: $text;
          font-size: 16px;
          font-weight: 500;
          line-height: 20px;
          transition: 0.5s ease;
          cursor: pointer;

          svg {
            rotate: 230deg;
          }

          &:hover {
            color: $main;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }

    .result_items {
      min-width: 800px;

      .scrollbar {
        overflow-y: auto;
        height: 370px;

        @include scroll(3px);
      }

      .title {
        @include title(
          $m: 0px 0px 10px,
          $c: $text,
          $fw: 700,
          $fz: 18px,
          $lh: 16px
        );
      }
    }
  }
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  background-color: #fff;

  .round {
    width: 100px;
    padding: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: $main;
    --_m: conic-gradient(#0000 50%, #000), linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
    mask: var(--_m);
    -webkit-mask-composite: source-out;
    mask-composite: subtract;
    animation: l3 1s infinite linear;
  }

  @keyframes l3 {
    to {
      transform: rotate(1turn);
    }
  }
}
