@import "../../../components/styles/variables.scss";

.sort {
  position: relative;
  display: flex;
  align-items: center;

  .descr {
    font-size: 15px;
    line-height: 16px;
    color: $text;
    font-weight: 500;
    margin-right: 5px;

    span {
      font-weight: 700;
    }
  }

  svg {
    cursor: pointer;
  }

  .sortLists {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    top: 30px;
    right: 0;
    padding: 14px 24px 24px 24px;
    min-width: 200px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    .sortList {
      font-size: 15px;
      line-height: 16px;
      color: $text;
      font-weight: 400;
      margin-bottom: 15px;
      cursor: pointer;
      transition: 0.5s ease;

      &:last-child {
        margin-bottom: 0px;
      }

      &:hover {
        color: $main;
      }

      &.active {
        font-weight: 700;
      }
    }

    &.active {
      display: block;
    }
  }
}

@media (max-width: 575px) {
  .sort {
    display: none;
  }
}
